/* Definições gerais da página */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}
/* Estilização do texto interno dos botões e display */
input{
    color: #ecf0f3;
    padding: 17px;
    outline: none;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 25%;
}
/* Estilização do formato da calculadora */
form{
    display:inline-block;
    padding: 20px;
    border-radius: 42px;
    box-shadow: inset 6px 6px 13px #FFFFFF, 6px 6px 13px #000000;
    background-color: #ecf0f3;
}
/* Definição da cor de fundo do display e botão de C */
.texto-cor{
    background: #000000;
}
/* Estilização dos botões */
.botao-cor{
    background: #000000;
    width: 64px;
    height: 67px;
    box-shadow: inset 6px 6px 13px #000000, 6px 6px 13px #FFFFFF;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
/* Estilização do display */
#text1{
    width: 160px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
}
/* Estilização do botão C */
#text2{
    width: 24px;
    height: 26px;
    border-radius: 50%;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}